@page "/device/edit/{Id}"
@using TerraCloud.Application.DTOs.Animal.Responses

@inherits EditBase

@if (!loaded)
{
    <RadzenText>Loading...</RadzenText>
}
else
{
    <h3>Edit device</h3>

    <RadzenCard>
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="12" SizeSM="6">
                <RadzenStack>                    
                    <RadzenFormField Text="request name">
                        <RadzenTextBox class="w-100 rz-mb-3" @bind-Value="@request.Name"></RadzenTextBox>
                    </RadzenFormField>
                  
                    <RadzenFormField Text="request unique code">
                        <RadzenTextBox Disabled="true" class="w-100 rz-mb-3" @bind-Value="@device.UniqueCode"></RadzenTextBox>
                    </RadzenFormField>

                    <RadzenFormField Text="Measurement time interval">
                        <RadzenNumeric @bind-Value="@request.MeasurementTime"></RadzenNumeric>
                    </RadzenFormField>

                    <RadzenFieldset Text="Day parameters">
                        <RadzenFormField Text="Day temperature">
                            <RadzenNumeric Disabled="@animalChosen" @bind-Value="@request.DayTemperature"></RadzenNumeric>
                        </RadzenFormField>

                        <RadzenFormField Text="Day Humidity">
                            <RadzenNumeric Disabled="@animalChosen" @bind-Value="@request.DayHumidity"></RadzenNumeric>
                        </RadzenFormField>
                    </RadzenFieldset>

                    <RadzenFieldset Text="Night parameters">
                        <RadzenFormField Text="Night temperature">
                            <RadzenNumeric Disabled="@animalChosen" @bind-Value="@request.NightTemperature"></RadzenNumeric>
                        </RadzenFormField>

                        <RadzenFormField Text="Night humidity">
                            <RadzenNumeric Disabled="@animalChosen" @bind-Value="@request.NightHumidity"></RadzenNumeric>
                        </RadzenFormField>
                    </RadzenFieldset>

                    <RadzenFormField Text="Animal">
                        <RadzenDropDown @bind-Value=@request.AnimalUserId TextProperty="@nameof(GetUserAnimalResponse.Species)" ValueProperty="@nameof(GetUserAnimalResponse.Id)"
                                        Data=@animals Style="width: 100%;" Change="@AnimalChange" AllowClear=true />
                    </RadzenFormField>
                </RadzenStack>

                <div class="mt-2">
                    <RadzenButton Text="Save" Click="@(() => SaveClick())" />
                    <RadzenButton Text="Quit" ButtonStyle="ButtonStyle.Secondary" Click="@(() => QuitClick())" />
                </div>

            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>
}

