@page "/device/edit/{Id}"
@using TerraCloud.Application.DTOs.Animal.Responses

@inherits EditBase

@if (device is null || userDevice is null)
{
    <RadzenText>Loading...</RadzenText>
}
else
{
    <h3>Edit device</h3>

    <RadzenCard>
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="12" SizeSM="6">
                <RadzenStack>                    
                    <RadzenFormField Text="Device name">
                        <RadzenTextBox class="w-100 rz-mb-3" @bind-Value="@userDevice.Name"></RadzenTextBox>
                    </RadzenFormField>
                  
                    <RadzenFormField Text="Device unique code">
                        <RadzenTextBox Disabled="true" class="w-100 rz-mb-3" @bind-Value="@device.UniqueCode"></RadzenTextBox>
                    </RadzenFormField>

                    <RadzenFormField Text="Measurement time interval">
                        <RadzenNumeric @bind-Value="@device.MeasurementTime"></RadzenNumeric>
                    </RadzenFormField>
 
                    <RadzenFormField Text="Day temperature">
                        <RadzenNumeric @bind-Value="@userDevice.DayTemperature"></RadzenNumeric>
                    </RadzenFormField>

                    <RadzenFormField Text="Day Humidity">
                        <RadzenNumeric @bind-Value="@userDevice.DayHumidity"></RadzenNumeric>
                    </RadzenFormField>

                    <RadzenFormField Text="Night temperature">
                        <RadzenNumeric @bind-Value="@userDevice.NightTemperature"></RadzenNumeric>
                    </RadzenFormField>

                    <RadzenFormField Text="Night humidity">
                        <RadzenNumeric @bind-Value="@userDevice.NightHumidity"></RadzenNumeric>
                    </RadzenFormField>

                    <RadzenFormField Text="Animal">
                        <RadzenDropDown @bind-Value=@animalUserId TextProperty="@nameof(GetAnimalResponse.Species)" ValueProperty="@nameof(GetAnimalResponse.Id)" Data=@animals Style="width: 100%; max-width: 400px;"/>
                    </RadzenFormField>
                </RadzenStack>

                <RadzenButton Text="Save" Click="@(() => SaveClick())" />
                <RadzenButton Text="Quit" ButtonStyle="ButtonStyle.Secondary" Click="@(() => QuitClick())" />

            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>
}

