@page "/animal/details/{Id}"

@inherits DetailsBase

@if(animal is null)
{
    <RadzenText>Loading...</RadzenText>
}
else{
    <h3>Animal Details</h3>

    <RadzenButton class="m-2" ButtonStyle="ButtonStyle.Secondary" Click="@QuitClick" Text="Quit" />

    <RadzenCard>

        <RadzenText class="rz-mb-3">Animal species</RadzenText>
        <RadzenText class="w-100 rz-mb-3">@animal.Species</RadzenText>

        <RadzenFieldset Text="Day parameters">
            <RadzenText class="rz-mb-3">Day humidity</RadzenText>
            <RadzenText>@animal.DayHumidity</RadzenText>

            <RadzenText class="rz-mb-3">Day temperature</RadzenText>
            <RadzenText>@animal.DayTemperature</RadzenText>
        </RadzenFieldset>

        <RadzenFieldset Text="Night parameters">
            <RadzenText class="rz-mb-3">Night humidity</RadzenText>
            <RadzenText>@animal.NightHumidity</RadzenText>

            <RadzenText class="rz-mb-3">Night temperature</RadzenText>
            <RadzenText>@animal.NightTemperature</RadzenText>
        </RadzenFieldset>

        <RadzenButton class="mt-2" Click="@AddAnimalToMyListClick" Text="Add animal to my list" Disabled="@animal.IsAdded"/>

    </RadzenCard>
}
